Homework 2.0

In [7]:
import numpy as np
import pandas as pd
import matplotlib
import math as m

In [8]:
data = pd.read_csv('data.csv')
data_place=pd.read_csv('context_place.csv')
data_day=pd.read_csv('context_day.csv')
data_names=pd.read_csv('movie_names.csv')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40 non-null     object
 1    Movie 1    40 non-null     int64
 2    Movie 2    40 non-null     int64
 3    Movie 3    40 non-null     int64
 4    Movie 4    40 non-null     int64
 5    Movie 5    40 non-null     int64
 6    Movie 6    40 non-null     int64
 7    Movie 7    40 non-null     int64
 8    Movie 8    40 non-null     int64
 9    Movie 9    40 non-null     int64
 10   Movie 10   40 non-null     int64
 11   Movie 11   40 non-null     int64
 12   Movie 12   40 non-null     int64
 13   Movie 13   40 non-null     int64
 14   Movie 14   40 non-null     int64
 15   Movie 15   40 non-null     int64
 16   Movie 16   40 non-null     int64
 17   Movie 17   40 non-null     int64
 18   Movie 18   40 non-null     int64
 19   Movie 19   40 non-null     int64
 20   Movie 20   40 non-null     int64
 21   Movie 21   40 non-null     int64
 22   Movie 22   40 non-null     int64
 23   Movie 23   40 non-null     int64
 24   Movie 24   40 non-null     int64
 25   Movie 25   40 non-null     int64
 26   Movie 26   40 non-null     int64
 27   Movie 27   40 non-null     int64
 28   Movie 28   40 non-null     int64
 29   Movie 29   40 non-null     int64
 30   Movie 30   40 non-null     int64
dtypes: int64(30), object(1)
memory usage: 9.8+ KB

In [10]:
data_place_21=data_place.iloc[ [20] ]
print(data_place_21)

             Movie 1  Movie 2  Movie 3  Movie 4  Movie 5  Movie 6  Movie 7  \
20  User 21       -1        c        c        c        h        c        v

    Movie 8  Movie 9  ...  Movie 21  Movie 22  Movie 23  Movie 24  Movie 25  \
20        v        v  ...        -1         c         h         v         v

    Movie 26  Movie 27  Movie 28  Movie 29  Movie 30
20         v         v         h         c        -1

[1 rows x 31 columns]

ДРОПАЕМ НЕНУЖНЫЙ НАМ 1 СТОЛБЕЦ

In [11]:
 data=data.drop(data.columns[0],axis=1)

1 ЗАДАНИЕ

Для заданного пользователя (21) рассчитать оценки для всех фильмов, которые он не оценил.

In [12]:
data.iloc[20]
# datat=data.replace({-1: 0})
datat=data.replace({-1: None})
ru=round(datat.iloc[20].mean(),3)
print(ru,'\n')
def rv(us_id):   
    rv=[]
    for i in range(40):
        rv.append(datat.iloc[i].mean())  
    return rv[us_id]
# for i in range(row_num):
#     print(round(rv(i),3))

2.96

Заменим -1 на 0 для упрощения расчетов и выведем кол-во строк и столбцов

In [15]:
# data=data.replace({-1: 0})
# data

col_num=data.shape[1]
row_num=data.shape[0]

user_number=20

Здесь главная функция, считающая метрику сходства

In [16]:
def sim_func(user_num):
    sim = np.zeros((row_num,row_num))
    for userU in range(row_num):
         for userV in range(row_num):
            if(userU != userV):
                sumUV=0
                sumU=0
                sumV=0
                sumuv=0
                matr=data.iloc[[userU,userV]]
                for film_num in range(col_num):
                    film=matr[matr.columns[film_num]]
                    if (film[userU]!=-1)&(film[userV]!=-1):
                        sumUV+=film[userU]*film[userV]
                        sumU+=film[userU]**2
                        sumV+=film[userV]**2
                sumuv=m.sqrt(sumU*sumV)
                sim[userU,userV]=round(sumUV/sumuv,3)
    return sim[user_num]
print(sim_func(user_number))

[0.922 0.8   0.701 0.849 0.85  0.917 0.914 0.814 0.775 0.853 0.809 0.876
 0.792 0.729 0.789 0.875 0.822 0.753 0.855 0.8   0.    0.815 0.863 0.784
 0.791 0.809 0.842 0.827 0.869 0.835 0.819 0.787 0.756 0.806 0.769 0.828
 0.807 0.858 0.71  0.852]

Ищем максимально похожих 4х пользователей: расставляем в порядке возрастания и слайсируем похожих

In [17]:
new_dat=sim_func(user_number)
nw=sorted(new_dat)
ln=len(nw)
index=[]
for i in range(36,40):    
    for j in range(len(new_dat)-1,-1,-1):
        if new_dat[j]==nw[i]:
            index.append(j)
            break
ind=sorted(index)
print('Индексы: ',ind,'Значения: ',sim_func(user_number)[ind])

Индексы:  [0, 5, 6, 11] Значения:  [0.922 0.917 0.914 0.876]

Вывод новых оценок

In [18]:
ru = round(ru,3)
sm = np.zeros(col_num) 
sum_sim = 0 
for us in ind:
    dU = data.iloc[[us]] 
    srv = round(rv(us),3)
    simvu = sim_func(user_number)[us]
    sum_sim += simvu
#     print(dU,'\n',srv,'\n',sum_sim)
    for film in range(col_num):
        rvi=dU[dU.columns[film]]
#         print(rvi[us])
        if (rvi[us]!=-1):
            sm[film] += simvu * (rvi - srv)
for i in range(col_num):
    sm[i] = round(ru + round(sm[i] / sum_sim,3),3)
# print("Новые оценки для 21 User:", sm)
data_var=data.iloc[user_number]
rez_l=[]
for i in range(col_num):
    if data_var.iloc[i]==-1:
        data_var.iloc[i]=sm[i]
        rez_l.append(data_var.iloc[i])
        j=i+1
        print('Новые оценки: Movie',j,'=',round(data_var.iloc[i],3))

Новые оценки: Movie 1 = 3.228
Новые оценки: Movie 18 = 3.717
Новые оценки: Movie 19 = 1.769
Новые оценки: Movie 21 = 2.274
Новые оценки: Movie 30 = 2.732

In [19]:
mylist = []
matr2=data.iloc[user_number]
lng=len(matr2)
for userN in range(lng):
    if (matr2[userN] == -1):
        mylist.append(userN)
unrated_films = np.array(mylist)
print('Индексы неоцененных фильмов',unrated_films)

sum_m = np.zeros(col_num)
sm=np.zeros(col_num)
for us in ind:
    srv = round(rv(us),3)
    for film in unrated_films:
        if(data.iloc[us][film] != -1):
            sum_m[film] += sim_func(user_number)[us]
            sm[film] += sim_func(user_number)[us] * (data.iloc[us][film] - srv)
rez_l=[]
for i in unrated_films:
    sm[i] = round(ru + sm[i] / sum_m[i],3)
    data_var.iloc[i]=sm[i]
    rez_l.append(data_var.iloc[i])
    j=i+1
    print('Новые оценки для фильма: Movie',j,'=',round(data_var.iloc[i],3))

Индексы неоцененных фильмов [ 0 17 18 20 29]
Новые оценки для фильма: Movie 1 = 3.319
Новые оценки для фильма: Movie 18 = 3.972
Новые оценки для фильма: Movie 19 = 1.769
Новые оценки для фильма: Movie 21 = 2.274
Новые оценки для фильма: Movie 30 = 2.732

Ищем фильмы без оценок в нашем варианте

In [24]:
dat=pd.DataFrame(rez_l,index=['Movie 1','Movie 18','Movie 19','Movie 21','Movie 30'], columns=['1'])
dat

              1
Movie 1   3.319
Movie 18  3.972
Movie 19  1.769
Movie 21  2.274
Movie 30  2.732

ЗАДАНИЕ 2

In [25]:
data_21=data.iloc[[user_number]]
data_day_21=data_day.iloc[ [user_number] ]

data_place_21=data_place.iloc[ [user_number] ]

data_conc=pd.concat([data_21,data_place_21,data_day_21],sort=False, axis=0)
print(data_conc)

    Movie 1  Movie 2  Movie 3  Movie 4  Movie 5  Movie 6  Movie 7  Movie 8  \
20       -1        2        1        2        3        5        4        1
20       -1        c        c        c        h        c        v        v
20       -1      Thu      Thu      Sat      Sat      Thu      Thu      Sat

    Movie 9  Movie 10  ...  Movie 23  Movie 24  Movie 25  Movie 26  Movie 27  \
20        2         3  ...         1         2         5         5         4
20        v         h  ...         h         v         v         v         v
20      Fri       Fri  ...       Wed       Wed       Sat       Mon       Sun

    Movie 28  Movie 29  Movie 30          Unnamed: 0
20         4         2        -1      NaN        NaN
20         h         c        -1  User 21        NaN
20       Sat       Sun        -1      NaN    User 21

[3 rows x 32 columns]

In [26]:
df=data_conc.T
df.columns=['Grades','Where','When']
list(df)
print(df)

           Grades    Where     When
 Movie 1       -1       -1       -1
 Movie 2        2        c      Thu
 Movie 3        1        c      Thu
 Movie 4        2        c      Sat
 Movie 5        3        h      Sat
 Movie 6        5        c      Thu
 Movie 7        4        v      Thu
 Movie 8        1        v      Sat
 Movie 9        2        v      Fri
 Movie 10       3        h      Fri
 Movie 11       5        c      Fri
 Movie 12       5        v      Sat
 Movie 13       1        c      Wed
 Movie 14       3        v      Mon
 Movie 15       2        c      Wed
 Movie 16       3        v      Thu
 Movie 17       1        c      Fri
 Movie 18      -1       -1       -1
 Movie 19      -1       -1       -1
 Movie 20       3        h      Tue
 Movie 21      -1       -1       -1
 Movie 22       5        c      Tue
 Movie 23       1        h      Wed
 Movie 24       2        v      Wed
 Movie 25       5        v      Sat
 Movie 26       5        v      Mon
 Movie 27       4        v      Sun
 Movie 28       4        h      Sat
 Movie 29       2        c      Sun
 Movie 30      -1       -1       -1
              NaN  User 21      NaN
Unnamed: 0    NaN      NaN  User 21

In [27]:
lngth=len(data_place.iloc[user_number])
pfilms = []

for el in range(1,lngth):
    if (data_place.iloc[user_number][el].strip() == 'h'):
        pfilms.append(el)   
dfilms=[]
for el in range(1,lngth):
    if (data_day.iloc[user_number][el].strip() == 'Sat') | (data_day.iloc[user_number][el].strip() == 'Sun') & (el in pfilms):
        dfilms.append(el)
print(dfilms)
print(pfilms)

[4, 5, 8, 12, 25, 28]
[5, 10, 20, 23, 28]

In [28]:
data.head(user_number+1)

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 21,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30
0,-1,4,1,5,-1,-1,-1,1,3,-1,...,2,4,-1,-1,3,4,-1,2,4,1
1,4,5,2,3,3,4,-1,5,3,2,...,-1,2,-1,3,1,5,-1,5,2,2
2,4,2,5,4,1,5,-1,3,5,2,...,4,-1,5,4,5,1,2,1,-1,3
3,5,-1,2,-1,-1,2,4,3,2,3,...,-1,2,2,2,2,5,3,2,5,5
4,4,3,3,3,5,3,3,4,5,2,...,4,5,2,-1,3,5,1,-1,5,-1
5,2,-1,3,3,3,3,4,2,-1,1,...,5,-1,1,3,-1,4,4,5,1,2
6,4,1,4,4,1,4,5,2,2,-1,...,2,5,1,3,4,-1,4,3,1,4
7,-1,5,5,3,3,3,3,3,1,2,...,-1,3,1,3,2,1,4,-1,1,3
8,1,2,3,1,5,3,3,1,2,5,...,3,2,3,-1,1,4,3,1,5,3
9,5,-1,1,-1,3,3,4,1,1,2,...,4,1,4,1,4,5,2,3,-1,1
10,-1,5,-1,1,5,2,4,2,4,-1,...,4,-1,3,4,1,2,4,2,5,1
11,5,4,4,-1,3,-1,5,5,5,3,...,1,4,1,5,3,5,4,3,5,5
12,1,1,4,5,4,3,5,5,5,4,...,2,3,2,-1,4,3,-1,5,5,4
13,3,5,4,-1,1,2,4,-1,-1,4,...,4,1,5,4,1,-1,3,1,5,3
14,3,5,3,4,4,-1,4,4,2,1,...,2,2,5,1,3,4,-1,-1,5,4
15,3,3,5,3,2,2,5,-1,4,4,...,1,3,4,-1,4,4,4,2,4,4
16,1,1,-1,-1,4,4,-1,-1,1,1,...,4,2,4,2,2,-1,5,4,5,3
17,4,3,3,2,1,5,3,4,5,2,...,-1,4,5,2,1,1,2,1,-1,4
18,4,3,5,5,4,4,-1,-1,4,4,...,2,3,1,2,-1,2,5,1,2,1
19,2,-1,2,5,-1,-1,1,-1,2,-1,...,-1,2,4,1,-1,2,2,3,3,4
20,-1,2,1,2,3,5,4,1,2,3,...,-1,5,1,2,5,5,4,4,2,-1

In [29]:
mergedl=dfilms+pfilms
print(mergedl)

[4, 5, 8, 12, 25, 28, 5, 10, 20, 23, 28]

Найдем те фильмы, которые есть в обоих списках, а именно те, которые пользователь смотрел дома в Сб или Вс

In [30]:
no_dupes = [x for n, x in enumerate(mergedl) if x not in mergedl[:n]]
print (no_dupes)

dupes = [x for n, x in enumerate(mergedl) if x in mergedl[:n]]
print (dupes)

[4, 5, 8, 12, 25, 28, 10, 20, 23]
[5, 28]

Найдем оценки для этих фильмов

In [31]:
grade = []
len_d=len(dupes)
for i in range(len_d):
    grade.append(data.iloc[user_number][dupes[i]-1]) 
    print('Оценка по фильму',dupes[i], 'от пользователя 21:',grade[i])

Оценка по фильму 5 от пользователя 21: 3
Оценка по фильму 28 от пользователя 21: 4

Посчитаем оценки от других пользователей по этим фильмам:

In [32]:
data_var=data.iloc[user_number]

sum_m = np.zeros(col_num)
sm=np.zeros(col_num)
for us in ind:
    srv = round(rv(us),3)
    for film in dupes:
        if(data.iloc[us][film] != -1):
            sum_m[film] += sim_func(user_number)[us]
            sm[film] += sim_func(user_number)[us] * (data.iloc[us][film] - srv)
new_l=[]
mx=0
for i in dupes:
    sm[i] = round(ru + sm[i] / sum_m[i],3)
    data_var.iloc[i]=sm[i]
    new_l.append(data_var.iloc[i])
    print('Оценки для фильма: Movie',i,'на основании мнения других пользователей =',round(data_var.iloc[i],3))
    for j in range(len(new_l)):
        if new_l[j]>mx:
            mx=new_l[j]
            indx=i
print('Рекомендуемый фильм по наибольшей оценке',mx,': Movie',indx)
data_result2=pd.DataFrame(max(new_l),index=[("Movie ")+str(indx)], columns=['2'])

Оценки для фильма: Movie 5 на основании мнения других пользователей = 3.439
Оценки для фильма: Movie 28 на основании мнения других пользователей = 2.486
Рекомендуемый фильм по наибольшей оценке 3.439 : Movie 5

In [33]:
import json
us='User 21'
res = dat.to_json()
res1=data_result2.to_json()
with open('result_file_21.json', 'w') as file:
    file.write(json.dumps(us, indent=4))
    file.write(', \n')
    file.write(json.dumps(json.loads(res), indent=4))
    file.write(', \n')
    file.write(json.dumps(json.loads(res1), indent=4))

New Task SPARQL

In [34]:
 data_names=pd.read_csv('movie_names.csv',sep='\t',encoding='ISO-8859-1', header = None)

список наград, которые имеет сценарист рекомендованного фильма

In [35]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
import requests

In [36]:
API_ENDPOINT = "https://www.wikidata.org/w/api.php"

In [37]:
r=[]
film_name=""
for i in range(30):
    if(i==indx):
        rez=str(data_names.iloc[[i-1]])
r=rez.split(', ')
for j in range(len(r)):
    film_name=r[1]
print(film_name)

movie_name=film_name
params = {
'action' : 'wbsearchentities',
'format' : 'json',
'language' : 'en',
'search': movie_name
}

12 Angry Men

In [38]:
res = requests.get(API_ENDPOINT, params = params)
res.json()['search'][0]['description']

'1957 American drama film by Sidney Lumet'

In [39]:
movie_code = res.json()['search'][0]['id']

In [40]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

sparql_query = """
SELECT ?filmLabel ?personLabel ?awardLabel
WHERE 
{
  ?film wdt:P31 wd:Q11424.
  ?film wdt:P58 ?person.
  ?person wdt:P166 ?award.
   FILTER(?film = wd:""" + movie_code  +""")
SERVICE wikibase:label{bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en"}             
} 
 
"""

sparql.setQuery(sparql_query)

sparql.setReturnFormat(JSON)
results = sparql.query().convert()

In [41]:
results_df = pd.json_normalize(results['results']['bindings'])
results_df[['filmLabel.value', 'personLabel.value','awardLabel.value']].head()

  filmLabel.value personLabel.value            awardLabel.value
0    12 Angry Men     Reginald Rose                 Edgar Award
1    12 Angry Men     Reginald Rose  World War II Victory Medal